@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h1 class="display-4">JAUNDICE DIAGNOSIS</h1>
            <p>Welcome to a user friendly platform for the diagnosis of Jaundice.</p>
        </div>
    </div>
</div>
