@model JAUNDICE.CORE.NeonateDiagnosis

@{
    ViewData["Title"] = "Edit";
}

    <div class="col-md-8 ml-auto mr-auto">
        <div class="card">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">child_care</i>
                </div>
                <h4 class="card-title"> Edit Neonate Diagnosis</h4>

                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="NeonateId" />
                        <div class="form-group">
                            <label asp-for="DisorderId" class="control-label"></label>
                            <select asp-for="DisorderId" class="form-control" asp-items="ViewBag.DisorderId"></select>
                            <span asp-validation-for="DisorderId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NeedForFollowup" class="control-label"></label>
                            <input asp-for="NeedForFollowup" class="form-control" />
                            <span asp-validation-for="NeedForFollowup" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Treatment" class="control-label"></label>
                            <input asp-for="Treatment" class="form-control" />
                            <span asp-validation-for="Treatment" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
